<div id="<%= Rubot::LiveUpdates.run_timeline_dom_id(run.id) %>">
  <%= render "rubot/shared/timeline_block",
             title: "Timeline",
             meta: "#{run.events.length} events",
             events: run.events %>
</div>
